{# pages/about/about.html.twig #}

{% extends "core/layout.html.twig" %}
{% block title %}
    {{ parent() }} - A propos
{% endblock %}

{% block head %}{% endblock %}



{% block body %}
<div class="row" style="padding-top: 55px;">
        <div class="col" style="padding-top: 0px;">
            <h1 class="text-center title-page" style="font-style: italic;color: rgb(0,29,58);">Los Pépitos, Kesako ?</h1>
            <hr style="margin-top: 25px;">
        </div>
    </div>
    <article class="text-justify" style="padding-right: 30px; padding-left: 30px;">
        <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto">
                <p>Nous deux, amoureux, avons décidé de partir en tour du Monde.<br></p>
                <p>Nous avons franchi le pas, quitté nos boulots respectifs, tout vendu (ou presque) pour tenter la symbiose entre le homard et l’agame et vivre l’aventure de nos deux vies.</p>
                <p>Nous nous présentons brièvement pour mieux faire connaissance, avant de vous expliquer en quoi consiste notre voyage (double projet) et de vous expliquer la signification de notre logo.</p>
                
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-12 col-md-6" style="padding-top:20px";>
                        <div class="border rounded text-center profile-card" style="background-color: rgb(241,238,229);width: 100%;padding: 20px; height: 100%;">
                            <div class="profile-card-img" style="height: 80px;background-size: cover;"></div>
                            <div><img class="rounded-circle" style="margin-top: -70px;margin-bottom: 20px;" src="{{ asset('assets/img/DSC06589.jpg') }}" height="150px">
                                <h4><strong>Carte d’identité de l’Agame</strong><br></h4></br>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Nom:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Rose<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Job:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Avocate au Barreau de Bruxelles<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Atouts:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Souriante, bien organisée, non matérialiste, n’a pas peur de partir vivre au jour le jour<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Pays lointains visités:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Australie (2x), Nouvelle-Zélande, Thaïlande, Indonésie (Bali), Afrique du sud, Philippines, Egypte<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Attentes lors du voyage:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Etre libre et faire ce qu’il nous plaît, voyager simplement et le plus écologiquement possible<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Peur</strong>:</span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Des araignées… (ça craint!)<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;/*padding-bottom: -5px;*//*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Kiffe</strong>:</span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Le soleil, la musique et la bière<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Passion:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Les Voyages, la lecture (thriller et roman), cultiver mon potager urbain et la plongée sous-marine <br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Expériences vécues:</strong></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Shark Cage Diving en Afrique du Sud, Saut à l'élastique en Nouvelle-Zélande et snorkeling avec les raies mantas en Australie<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-12 col-md-6"  style="padding-top:20px";>
                        <div class="border rounded text-center profile-card" style="background-color: rgb(241,238,229);width: 100%;padding: 20px; height:100%;">
                            <div class="profile-card-img" style="height: 80px;background-size: cover;"></div>
                            <div><img class="rounded-circle" style="margin-top: -70px;margin-bottom: 20px;" src="{{ asset('assets/img/DSC06415.jpg') }}" height="150px">
                                <h4><strong>Carte d’identité du Homard</strong><br></h4></br>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Nom:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Manu<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Job:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Ingénieur du Son<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Atouts:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Patient, &nbsp;bricoleur, manuel<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Pays lointains visités:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Canada, Inde, Thaïlande, Tunisie, Espagne, Egypte<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Attentes lors du voyage:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Etre libre et faire ce qu’il nous plaît, voyager simplement et le plus écologiquement possible<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Peur</strong>:</span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">D'une jambe cassée!!!!<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;/*padding-bottom: -5px;*//*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Kiffe</strong>:</span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Avoir la tête sous l'eau, profiter d'un moment autour d'un verre<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Passion:</strong><br></span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">La plongée sous-marine<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-5 float-left" style="padding: 10px;padding-top: 0px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 12px;"><strong>Langues parlées</strong>:</span></div>
                                    <div class="col-12 col-md-7" style="padding: 10px;padding-top: 0px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 12px;">Français, anglais, néerlandais (et on apprend l’espagnol!)<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                <h3 id="logo_link">Notre Logo&nbsp;<i class="fa fa-arrow-circle-right" style="color: rgba(0,0,0,0.44);font-size: 20px;"></i></h3>
                <hr>
                <div id="logo_expl"  style="display: block;">
                    <p>Notre logo est composé de trois éléments: un nom: <em>Los Pepitos</em>, un homard et un lézard (l’agame).<br></p>
                    <h4><strong>Le nom <em>Los pépitos, de donde viene</em>?</strong><br></h4>
                    <p><em>Los Pepitos</em> a été inspiré de notre petit animal de compagnie, Pépito, cochon d’inde, laissé en pension en Belgique faute d’avoir pu le faire voyager avec nous.<br></p>
                    <br>
                    <h4><strong>L'alliance du Homard et de l'Agame</strong><br></h4>
                    <p>Le homard, cet invertébré provenant des régions plutôt froide du globe – soit de Pays-Bas/Belgique représente l'eau, la gastronomie française/belge et le sport que nous affectionnons plus que tout: la plongée sous-marine. Il est donc
                        un symbole de notre voyage.<br></p>
                    <p>L'agame, ce reptile barbu, provient d'un pays que Rose affectionne tout particulièrement pour y avoir déjà été deux fois: l'Australie. L'agame représente la terre, les randonnées et le soleil (puisqu'il bronze! – paraît-il). Comme lui, nous prendrons la température locale de chaque endroit que nous visiterons.<br></p>
                    <p>Ces deux animaux illustrent deux &nbsp;aspects indissociables de notre voyage: la Terre et la Mer, et nous représentent bien, dans l’ensemble.<br></p>
                </div>
                <h3 id="projet_link" style="clear: both;">Notre Tour du Monde&nbsp;<i class="fa fa-arrow-circle-right" style="color: rgba(0,0,0,0.44);font-size: 20px;"></i></h3>
                <hr>
                <div id="projet_expl">
                    <p>Notre voyage comporte deux volets indissociables. </p>
                    <ol>
                        <li>Un volet dédié à l'aventure et à la découverte</li>
                        <li>Un volet dédié à l’écologie</li>
                    </ol>
                    <p>Cette dualité se retrouve sur notre site internet (onglet Journal de Voyage & onglet Notre Projet Ecolo).</p>
                    <h4>1. Volet “Voyage”</h4>
                    <p>Il s’agit d’abord de vivre l’aventure d’une vie, en quittant notre confort quotidien, et en partant à l’aventure, sac à dos sur le dos.</p>
                    <p>Nous partons pour nous épanouir, découvrir de nouveaux paysages et de nouvelles cultures, rencontrer les populations locales et les backpackers et savourer d’autres mets culinaires. On adore bien manger!</p>
                    <div class="row" style="margin-bottom: 20px;">
                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="border rounded text-center profile-card" style="background-color: rgb(241,238,229);width: 100%;padding: 20px;">
                                <h4><strong><i class="fas fa-globe-americas"></i>  Tour du monde: carte d’identité  <i class="fas fa-globe-americas"></i></strong><br></h4></br>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-6 float-left" style="padding: 10px;padding-top: 5px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 14px;"><strong>Destinations premières:</strong><br></span></div>
                                    <div class="col-12 col-md-6" style="padding: 10px;padding-top: 5px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 13px;">Amérique centrale en commençant par le Mexique/Guatemala<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-6 float-left" style="padding: 10px;padding-top: 5px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 14px;"><strong>Date de départ:</strong><br></span></div>
                                    <div class="col-12 col-md-6" style="padding: 10px;padding-top: 5px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 13px;">Le dimanche 6 octobre 2019<br></p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-right: 0;padding-bottom: -5px;/*height: 30px;*/">
                                    <div class="col-12 col-md-6 float-left" style="padding: 10px;padding-top: 5px;padding-bottom: 0;"><span class="text-left float-left" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 14px;"><strong>Moyens de transport:</strong><br></span></div>
                                    <div class="col-12 col-md-6" style="padding: 10px;padding-top: 5px;padding-bottom: 0;">
                                        <p class="text-justify" style="font-family: Montserrat, sans-serif;font-size: 13px;">La marche, le vélo, le stop, la plongée et l’avion<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <p>Cette partie du voyage est partagée avec vous dans l’onglet “Journal de Voyage”. Nous y publierons des articles relatifs à notre itinéraire, nos impressions, nos échanges, rencontres, les + et les flip-flops du voyage, nos anecdotes, nos trucs et astuces, etc.</p>
                    <h4>2. Volet “Projet écolo”</h4>
                    <p>Aventureux dans l’âme, nous avons la bougeotte  et nous nous intéressons à la permaculture, à l’écologie et à la protection de la faune et de la flore.</p>
                    <p>Au travers de notre voyage, nous souhaitons recenser des initiatives et actions écologiques locales pour nous en enrichir et voir comment l’écologie est vue, ressentie et assimilée dans les différentes cultures. La place du cycliste et du vélo sera attentivement examinée.</p>
                    
                    <p>Nous souhaitons contribuer aux initiatives locales de manière bénévole et mener nos propres actions.</p>
                    <p>Exemple: organiser une collecte de plastique et de déchets.</p>
                    <p>L’objectif, c’est de mettre la main à la pâte et d’inciter les gens, vous également, à prendre conscience de ce tournant et à changer nos habitudes de consommateurs.</p>
                    <p>C’est facile, il suffit de comprendre que c’est possible… et se donner les moyens d’y arriver.</p>
                    
                    <p>Il s’agit aussi d’avoir un fil conducteur qui nous permettra de ne pas trop nous éparpiller durant notre voyage et rencontrer les locaux autour de la thématique de l’écologie.</p>
                    <p>Nous sommes conscients que nous nous situons à un tournant au niveau climatique. Nous en  sommes persuadés depuis septembre 2018, suite à la vision du film documentaire “On a 20 ans pour changer le monde” (<a href="https://fermesdavenir.org/fermes-davenir/pole-influence/film-on-a-20-ans-pour-changer-le-monde">lien ici</a>).</p>
                    <p style="font-weight:bold;">Cela étant, tout voyage entraîne une pollution. Nous tenterons de la prévenir, de la réduire au minimum en récupérant, recyclant et refusant certaines choses qui nous serons sans doute offertes (ex: pailles en plastique). Nous privilégions une approche de réutilisation plutôt que la surconsommation. </p>
                    <p>Cette partie du voyage est partagée sous l’onglet “Projet écolo”.</p>

                    
                </div>
                
            </div>
        </div>
    </article>
	<script>
		$("#logo_link").click(function(){
		$("#logo_expl").toggle(500);
		});
		$("#projet_link").click(function(){
			$("#projet_expl").toggle(500);
		});
		$("#soutient_link").click(function(){
			$("#soutient_expl").toggle(500);
		});
	</script>
{% endblock %}

{% block script %}{% endblock %}