{# pages/home.html.twig #}

{% extends "core/layout.html.twig" %}

{% block title %}
    {{ parent() }} - En Construction
{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="row" style="padding-top: 10px;">
        <div class="col" style="padding-top: 0px;">
            <h1 class="text-center title-page" style="font-weight: 500;font-style: italic;font-family: 'Cedarville Cursive', cursive;color: rgb(0,29,58);">Construction</h1>
            <h3 class="text-center" style="font-weight: 500;font-style: italic;color: rgb(123,123,123);font-family: 'Cedarville Cursive', cursive;margin-bottom: 0px;font-size: 35px;">- Cette page est en construction -</h3>
            <hr style="margin-top: 25px;">
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}