<hr style="margin-top: 20px;">
<div class="footer-clean" style="padding-top: 0px;background-color: #fffcf3;">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 d-none item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 d-none item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 d-none item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-12 item social" style="text-align: center;">
                        <a href="https://www.facebook.com/LosPepitos.org/">
                            <i class="fab fa-facebook" style="font-size: 50px;"></i>
                        </a>
                        <a class="d-none" href="#">
                            <i class="icon ion-social-twitter"></i>
                        </a>
                        <a class="d-none" href="#">
                            <i class="icon ion-social-snapchat"></i>
                        </a>
                        <a class="d-none" href="#"><i class="icon ion-social-instagram"></i>
                        </a>
                    </div>
                    <div class="col-12" style="text-align: center;">
                        <a href="#modalDroits" data-toggle="modal" data-target="#modalDroits" style="color: grey;">
                            <p class="copyright">Rose &amp; Manu © 2019</p>
                            <p class="copyright">Tous droits réservés</p>
                        </a>
                    </div>
                    
                </div>
            </div>
        </footer>
    </div>