{# pages/admin/admin.html.twig #}

{% extends "core/layoutadmin.html.twig" %}

{% block head %}
<link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">

{% endblock %}

{% block body %}
<div class="row" style="padding-top: 70px;">
        <div class="col" style="padding-top: 0px;">
            <h1 class="text-center title-page" style="font-weight: 500;font-style: italic;font-family: 'Cedarville Cursive', cursive;color: rgb(0,29,58);">Ajouter un Album</h1>
            <hr style="margin-top: 25px;">
        </div>
    </div>
    <div>
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <!--<form class="bootstrap-form-with-validation">
                        <h2 class="text-center">Nouvel Article</h2>
                        <div class="form-group"><label for="text-input">Titre</label><input class="form-control" type="text" id="text-input" name="text-input"></div>
                        <div class="form-group"><label for="textarea-input">Article</label><textarea class="form-control classy-editor1"></textarea></div>
                        <div class="form-group"><button class="btn btn-info" type="submit" style="margin-right: 15px;">save</button><button class="btn btn-warning" type="submit" style="margin-right: 15px;">preview</button><button class="btn btn-success" type="submit" style="margin-right: 15px;">publish</button></div>
                    </form>-->
					{{ form(form) }}
                </div>
            </div>
        </div>
    </div>
<!-- Modal -->
    <div class="modal  fade" id="flmngrmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">File Manager</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'default'}) }}" width="100%" height="500"
                            frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}<script>
$('#myframe').on('load', function () {
    $(this).contents().on('click','.select',function () {
        var path = $(this).attr('data-path')
        $('#album_urlImg').val(path);
        $('#image').attr('src', path)
        $('#flmngrmodal').modal('hide')
    });
});
</script>{% endblock %}